.wrapper{
    color: white !important;
    margin-top: 32px;
}

.artist{
    margin-top: 16px !important;
}

.block_artist{
    text-align: center;
}

.image{
    border-radius: 50% !important;
    width: 200px !important;
    height: 200px !important;
}