.wrapper{
    padding: 24px;
    background-color: rgb(32, 38, 57, 1);
}

.add{
    width: 100%;
    margin: 12px;
    min-height: 250px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
}

.add svg{
    font-size: 64px;
}